@import url("./global.css");

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-bg);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  border: none;
  outline: none;
  display: block;
  vertical-align: middle;
}

mark {
  padding-left: 3px;
  padding-right: 3px;
}

.appname {
  height: 35px;
}

.discord-icon {
  width: 50px;
  padding: 0 10px;
}

/* WARNINGS */
.g {
  color: var(--color-maroon);
  font-size: small;
  z-index: 2;
}

.NOTICE {
  background-color: rgb(155, 10, 10);
  padding: 5px;
  color: white;
}

.NOTICE a {
  color: white;
}

footer p a {
  color: white;
  text-decoration: none;
}

/* Main Layout */
.main {
  margin-bottom: 50px;
}

.hero {
  position: relative;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(1, 0, 22, 0.893) 60%, rgba(0, 0, 0, 0.7) 100%);
  z-index: 0;
}

.hero>* {
  position: relative;
  z-index: 1;
}

#biglogo {
  width: 305px;
  margin: auto;
  filter: drop-shadow(0px 0px 3px var(--color-black));
}

.hero-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}

.hero-cards>div {
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(94, 94, 94);
}

.hero-cards h4 {
  font-size: 30px;
  margin: 0;
}

.hero-cards p {
  color: var(--color-muted);
  font-size: 25px;
}

.platforms-section {
  color: white;
  text-align: center;
  padding: 20px;
}

.platforms-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.platforms-cards>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.platforms-cards p {
  margin: 0;
  font-size: 30px;
}

.platforms-secondary-text {
  color: var(--color-muted);
  font-size: 26px;
}

.windows-container {
  background-color: var(--color-bg);
  padding: 20px;
  border-radius: 10px;
}

.windows-container img {
  width: 100px;
}

.browsers {
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
}

.browsers img {
  width: 50px;
}

@media (max-width: 800px) {
  .hero-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .hero-cards {
    grid-template-columns: 1fr;
  }

  .platforms-cards {
    grid-template-columns: 1fr;
  }

  .hero-cards h4,
  .hero-cards p {
    font-size: 20px;
  }

  .platforms-cards p {
    font-size: 20px;
  }

  .platforms-secondary-text {
    font-size: 16px;
  }
}